NEXT_PUBLIC_SUPABASE_URL=https://okkrxlvnxrerhqvgwyag.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ra3J4bHZueHJlcmhxdmd3eWFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk3NzUyNzgsImV4cCI6MjA4NTM1MTI3OH0.g2YoKMg-z37T9zIHomxn0KdC3kWBmM3V3FmVuZvpBio
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ra3J4bHZueHJlcmhxdmd3eWFnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTc3NTI3OCwiZXhwIjoyMDg1MzUxMjc4fQ.ecRetEBmhk9lZSlXGrmp0e-v_DA-VIpi5QDrE1m893A
